<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<!--nav components-->
<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link" routerLink="" routerLinkActive="active">ALL</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">CHINESE</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">BURGERS</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">SALAD</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">CAKE</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">PIZZA</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">BAG</a>

</nav>
<!--card of foods-->
<div *ngFor="let food of foods">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{food.title}}</h5>
                    <p class="card-text">{{food.cuisine}}</p>
                    <p class="card-text">{{food.price}}</p>
                    <button class="btn btn-primary float-right">add to bag</button>
                    </div>
            </div>
        </div>
    </div>
</div>